* {
  margin: 0;
}

.background {
  background: #6ca3d0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a:hover {
  color: rgb(136, 135, 124);
}

a {
  text-align: center;
  margin: 0 0 20px 0;
  color: #2d66b7;
  cursor: pointer;
  text-decoration: none;
}

.title {
  color: #2d66b7;
  font-weight: 400;
}

.input {
  background-color: rgba(233, 228, 228, 0.908);
}

.buttons-lembrar {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.input-email {
  padding: 20px;
  width: 88%;
}

.input {
  background-color: rgba(233, 228, 228, 0.908);
  width: 88%;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  padding-left: 30px;
}

.icon {
  padding: 8px;
  font-size: 20px;
  position: absolute;
  right: 6%;
  top: 50%;
  transform: translateY(-50%);
}
