* {
  margin: 0;
}

.background-lembrar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  margin-top: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a:hover {
  color: rgb(136, 135, 124);
}

a {
  text-align: center;
  margin: 0 0 20px 0;
  color: #2d66b7;
  cursor: pointer;
  text-decoration: none;
}

.title {
  color: #2d66b7;
  font-weight: 400;
}

.input {
  background-color: rgba(233, 228, 228, 0.908);
}

.buttons-lembrar {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

.input-email{
  padding: 20px;
}


