.card {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}

.login-cadastro {
  color: #2D66B7;
  background-color: white;
  width: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  border: 1px solid #6ca3d0 ;
}

.title {
  color: #2D66B7;
  text-align: center;
  font-weight: 400;
  padding-bottom: 15px;
  margin-top: 20px;
}

.img-card {
  padding: 0px;
  background-color: #3e76a4;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid #6ca3d0;
}

.img-card img {
  padding: 20px;
  border-top: 15px;
}

.input {
  background-color: #f5f5f5;
  color: black;
}

.input-image{
  padding-bottom: 5px ;
}